<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
       <span>HOME</span>
    </mat-toolbar-row>
  </mat-toolbar> -->
<header>
  <h2>HOME</h2>
</header>
<app-region></app-region>
<router-outlet></router-outlet>