$width: 100%;
$color:#ffffff;
$font_family: Roboto,"Helvetica Neue",sans-serif;
header{
    background-color: #673ab7;
    height: 64px;
    position: fixed;
    top:0;
    width:$width;
    h2{
        color:$color;
        padding: 5px 16px;
        font-family: $font_family;
        font-size: 20px;
    }
}

