<h3 class="marL">Country Details</h3>
<table class="marL" *ngIf="selectedCountry">
  <tr>
    <th>Country Name</th>
    <th>Capital</th>
    <th>Population</th>
    <th>Currenies</th>
    <th>Flag</th>
  </tr>
  <tr>
    <td>{{selectedCountry?.name}}</td>
    <td>{{selectedCountry?.capital}}</td>
    <td>{{selectedCountry?.population}}</td>
    <td>{{selectedCountry?.currencies[0].code}}</td>
    <td><img src={{selectedCountry?.flag}} alt="Image" class="flagImg" /></td>
  </tr>
  </table>