<h3>Displaying Region & Countries</h3>
<mat-card-content>
  <form class="my-form marL">
    <mat-form-field class="mar-lr-20">
      <mat-label >Select Region</mat-label>
      <mat-select>
        <mat-option *ngFor="let region of regions" [value]="region?.value" class="clicked" (click)="getRegion(region?.value)">
          {{ region?.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="marL" *ngIf="countiresList?.length > 0">
      <mat-label >Select Country</mat-label>
        <mat-select>
          <mat-option *ngFor="let country of countiresList" [value]="country?.name" (click)="getCountry(country)">
              {{ country?.name }}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </form>
</mat-card-content>

