/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


$border:1px solid black;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.marL{
    margin-left: 20px;
}
table {
    border-collapse: collapse;
    border: $border;
    font-size: 17px;
    padding: 5px 10px;
    th, td {
      border: $border;
      font-size: 17px;
      padding: 5px 10px;
    }
  }
.flagImg {
    width: 85px;
    height: 50px;
    border: 1px solid #ccc;
}