<div class="wrapper">
<table>
    <thead>
      <tr>
          <th scope="col" role="heading">Name</th>
          <th scope="col" role="heading">Email</th>
          <th scope="col" role="heading">Phone</th>
          <th scope="col" role="heading">Company</th>
          <td class="table-width"></td>
        </tr>
    </thead>
    <tbody *ngIf="pagedItems?.length > 0">
      <tr *ngFor="let data of pagedItems; let i = index">
        <td>{{data?.name}}</td>
        <td>{{data?.email}}</td>
        <td>{{data?.phone}}</td>
        <td>{{data?.company}}</td>
        <td class="table-width"><button class="btn btn-primary" (click)="getRowID(data)">Submit</button></td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
            <th scope="col" role="heading">
                <div>
                    <span>Items per page 
                    <input type="text" id="myInputId" class="number-drop-down" (click)="showDropDown($event)" 
                     value="{{counter}}" readonly />
                  </span>
                </div>
                <div class="drop-down" *ngIf="showSuggestion === true">
                    <ul class="number-list" >
                        <div *ngFor="let number of numberList">
                            <li class="list-element" *ngIf="allItems.length >= number" (click)="numberClick(number)">
                            {{number}}
                            </li>
                        </div>
                        <li class="list-element" *ngIf="!foundAll" (click)="numberClick(allItems.length)">All</li>
                     </ul>
                </div>

            </th>
            <th scope="col" role="heading">
               <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
          </th>
          </tr>
      </tfoot>
  </table>
</div>
  