.wrapper{
  margin: 20px 0;
}
table {
  border-spacing: 0;
	max-width:95%;
	table-layout:fixed;
  margin:auto;
}
th, td {
	padding:5px 10px;
  border:1px solid #cccccc;
  width:20%;
}
thead, tfoot {
	background:#f9f9f9;
	display:table;
	width:100%;
	width:calc(100% - 18px);
}
tbody {
	height:300px;
	overflow:auto;
	overflow-x:hidden;
	display:block;
	width:100%;
}
tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
}
.table-width{
  width:10%;
}
  .number-drop-down{
    width: 70px;   
    height: 30px;
    display: inline-block;
    color: #000000;
    font-family: "MarkForMC-Bold";
    padding: 8px;
    text-align: left;
    cursor: pointer;
    background-image: url('../../../assets/images/caret-down.svg');
    background-repeat: no-repeat;
    background-position: right;
    border:1px solid #b6b8ba;
    border-radius: 2px;
    /* background: url("../images/icons/caret-down.svg") center center no-repeat !important; */
}
.number-drop-down:focus, .number-drop-down:hover{
    border:1px solid #b6b8ba;
    box-shadow: none;
    width: 70px;
    border-radius: 2px;
    /* background: url("../images/icons/caret-down.svg") center right no-repeat !important; */
}
.drop-down{
    position: absolute;
    width: 75px;
    right: 85%;
    z-index: 1;
}
.number-list{
    border-radius: 0;
    background: #ffffff;
    margin: 0;
    padding:0;
}
.number-list li{
    padding:8px 58px 0 8px;
    border: 1px solid #e8eaed;
    list-style: none;
}
.number-list li:hover, .number-list li:focus, .number-list li:active{
    background-color: #b6b8ba ;
    color:white;
    border-radius: 0 0 0 0 !important;
  }
  .number-list .list-hover{
    background-color: #b6b8ba ;
    color:white;
    border-radius: 0 0 0 0 !important;
  }
  .pagination{
      margin: 0;
  }